<% if current_page?(root_path) %>
      <div class="footer hidden-style" id="footer">
  <% else %>
      <div class="footer" id="footer">
<% end %>

  <div class="footer-links">
    <a href="https://github.com/NicoEym"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/ilemenyou/r"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/nicolas-eymenier-frm-63012b60/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-navigation padding1 margin1">
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to "New Post", new_post_path %>
      <%= link_to "All the posts", posts_path %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "All the posts", posts_path %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
</div>
