<div class="log-form col-xs-12 col-md-4">
  <% if current_page?(controller: 'posts', action: 'new')  %>
    <h2>Créer une nouveau post</h2>
  <% else %>
    <h2>Modifier le post <%= @post.title%></h2>
  <% end %>


    <%= simple_form_for [@post]  do |f| %>
      <%= f.input :title, label: 'Nom de la plage:'%>
      <%= f.input :event_date, label: "Commune:" %>
      <%= f.input :content, label: "Latitude:" %>
      <%= f.input :city, label: "Longitude:" %>
      <%= f.input :photo_url, label: "Photo:" %>

      <%= f.submit "Valider le post", class: "btn btn-lg btn-primary blue-nav col-xs-9 col-md-12" %>
    <% end %>

</div>
