<div class="log-form col-xs-12 col-md-4">
  <% if current_page?(controller: 'posts', action: 'new')  %>
    <h2>Créer une nouveau post</h2>
  <% else %>
    <h2>Modifier le post <%= @post.title%></h2>
  <% end %>


    <%= simple_form_for [@post]  do |f| %>
      <%= f.input :title, label: 'Title:'%>
      <%= f.input :event_date, label: "Event date:" %>
      <%= f.input :swim_type_id, collection: @swim_types, label_method: :name, prompt: "Choose type:", required: true, html: {class: "form-control"}, label: false %>
      <%= f.input :content, label: "Story:" %>
      <%= f.input :city, label: "City:" %>
      <%= f.input :photo, label: "Photo:" %>

      <%= f.submit "Valider le post", class: "btn btn-lg btn-primary blue-nav col-xs-9 col-md-12" %>
    <% end %>

</div>
