<div class="container">
  <h2 class="text-center"><%= @post.title %> - <%= @post.event_date %></h2>
  <div class="margin1 padding1 shadow-boxing border-radius05">
    <div class="row">
      <div class="col-xs-12 col-md-6 flex justify-center">
        <%= image_tag(@post.photo, class: "width100 object-cover") %>
      </div>

      <div class="col-xs-12 col-md-6 flex justify-center">
        <div id="map"
         style="width: 80%; height: 400px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>

  <div class="white margin1 padding1 shadow-boxing border-radius05">
    <p><%= @post.content %></p>
  </div>
  <% if !current_user.nil? %>
    <div class="margin1">
      <% if policy(@post).edit? %>
          <%= link_to raw('Edit Post'), edit_post_path(@post), class: "btn btn-lg btn-brown btn-hover" %>
      <% end %>
      <% if policy(@post).destroy? %>
        <%= link_to "Delete Post", post_path(@post),
                        method: :delete, class: "btn btn-lg btn-orange btn-hover" %>
      <% end %>
    </div>
  <% end %>
</div>

